header {
  position: relative;
}

.header__top {
  background-color: black;
}

.header__layout {
  @media screen and (min-width: 320px) {
    display: flex;
    justify-content: space-between;
    width: 320px;
    padding: 15px;
    margin: 0 auto;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 768px;
    margin: 0 auto;
  }
  @media screen and (min-width: 1024px) {
    width: 1024px;
  }
}

.logo__img-mob {
  width: 103px;
  height: 39px;
  @media screen and (min-width: 1024px) {
    display: none;
  }
}

.logo-img-desctop {
  display: none;
  @media screen and (min-width: 1024px) {
    display: block;
    width: 90px;
    height: 121px;
    position: absolute;
    top: 10px;
    left: 15px;
    transition: all 250ms;
  }
}

.logo-img-desctop:hover,
.logo-img-desctop:focus {
  transform: scale(1.2);
}

.weather {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    max-width: 350px;
  }
}

.ww_box {
  display: flex;
  width: 250px;
}

#ww_3e92c3cc4d210 .ww-box[max-width~="768px"] .ww_col1 {
  margin-left: 40px;
  display: flex;
  gap: 5px;
}

.ww_col1 {
  width: 280px;
}

.location {
  font-size: 16px;
  color: white;
}

.ww_child {
  width: 50px;
  height: 40px;
}

.ww_child span {
  font-size: 16px;
  color: white;
}

.ww_source svg {
  display: none;
  width: 5px;
  height: 5px;
}

#ww_3e92c3cc4d210 .ww_source {
  width: 5px;
  height: 5px;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

.socials {
  display: none;
  @media screen and (min-width: 1024px) {
    display: block;
  }
}

.socials__list {
  display: flex;
  gap: 10px;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
}

.socials__item {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 250ms;
}

.socials__item:hover,
.socials__item:focus {
  transform: scale(1.2);
}

.socials__link {
  display: block;
  margin: 0;
  padding: 0;
  align-items: center;
}

.socials__icon {
  display: flex;
  width: 16px;
  height: 16px;
  fill: white;
}

.search__icon {
  width: 40px;
  height: 40px;
  fill: white;
  @media screen and (min-width: 1024px) {
    width: 20px;
    height: 20px;
  }
}

.menu-btn__icon--menu {
  fill: white;
}

.head__nav {
  display: none;
  @media screen and (min-width: 1024px) {
    display: flex;
    gap: 20px;
    align-items: center;
    text-align: center;
    justify-content: space-between;
  }
}

.popular__list-desctop {
  @media screen and (min-width: 1024px) {
    display: flex;
    gap: 15px;
  }
}

.popular__link-desctop {
  @media screen and (min-width: 1024px) {
    font-size: 16px;
    color: white;
  }
}

.popular__link-desctop:hover,
.popular__link-desctop:focus {
  color: orange;
}

.popular__list-desctop {
  @media screen and (min-width: 1024px) {
    display: flex;
  }
}

.mob__menu {
  display: inline-flex;
  gap: 10px;
  @media screen and (min-width: 1024px) {
    display: none;
  }
}

.header__bottom {
  background-color: red;
}

.header__navigation {
  display: flex;
  justify-content: space-between;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 768px;
    padding: 15px;
  }
  @media screen and (min-width: 1024px) {
    width: 1024px;
    border-bottom: 2px solid white;
  }
}

.menu-open__navigate,
.menu-close__navigate {
  display: none;
  @media screen and (min-width: 1024px) {
    display: block;
  }
}

.nav__list {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0;
  margin: 0;
  overflow-x: auto;
  white-space: nowrap;
  @media screen and (min-width: 1024px) {
    margin-right: 0;
    margin-left: auto;
  }
}

.nav__item {
  padding: 10px;
  font-size: 16px;
}

.nav__link {
  color: white;
  font-size: 16px;
  font-weight: 700;
}

/* BURGER MENU */

.mob-menu {
  padding: 20px;
  background-color: orange;
}

.mob-menu__top {
  border-bottom: 2px solid black;
}

.mob-menu__title {
  font-size: 24px;
  font-weight: bold;
}

.mob-menu__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-bottom: 20px;
}

.mob-menu__link {
  font-size: 18px;
  color: black;
}

.popular__link-mail {
  display: flex;
  align-items: center;
  gap: 5px;
}

.popular__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid black;
}

.popular__link {
  color: black;
  font-size: 18px;
  transition: all 250ms;
}

.popular__icon {
  display: flex;
  width: 20px;
  height: 15px;
  fill: red;
}

#radio {
  width: 100%;
  margin-top: 20px;
  background-color: red;
  border-radius: 12px;
  color: white;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 10px;
  position: relative;
  @media screen and (min-width: 768px) {
    margin: 20px auto;
    padding: 5px 8px;
    width: 171px;
  }
  @media screen and (min-width: 1024px) {
    margin: 0;
    padding: 5px 8px;
    width: 171px;
  }
}

.radio__play {
  position: absolute;
  top: 5;
  left: 8px;
  width: 40px;
  transition: opacity 250ms;
}

.radio-play__icon {
  width: 30px;
  height: 30px;
  fill: white;
}

.radio-pause__icon {
  width: 30px;
  height: 30px;
  fill: white;
  display: none;
}

.radio-button {
  font-size: 14px;
  font-weight: 600;
}

#radio:hover .radio__play {
  @media screen and (min-width: 1024px) {
    opacity: 0;
  }
}

#close {
  display: none;
}
.menu-btn__icon--close {
}

.is-hidden {
  display: none;
}
/* END BURHER MENU */

.mob-menu__top-dt {
  display: none;
  padding: 15px;
}
.menu-toggle__button {
  @media screen and (max-width: 1023px) {
    display: none;
  }
  @media screen and (min-width: 1024px) {
    display: block;
  }
}

.menu-opened-dt.mob-menu__top-dt {
  background-color: red;
  display: flex;
  gap: 30px;
  justify-content: flex-end;
  align-items: center;
}

.mob-menu__title-dt {
  display: inline;
  color: white;
  font-size: 30px;
  font-weight: 700;
}

.mob-menu__list-dt {
  display: flex;
  gap: 20px;
}

.mob-menu__link-dt {
  color: white;
  font-size: 16px;
  padding: 15px;
  transition: all 250ms;
}

.mob-menu__link-dt:hover {
  background-color: orange;
  border-radius: 12px;
}

.menu-opened-dt {
  display: block;
}

.menu-opened-dt {
  display: block;
}

.menu-toggle {
  display: none;
}

.menu-opened-dt .menu-toggle[data-menu-action="close"] {
  display: block;
}

.menu-opened-dt .menu-toggle[data-menu-action="open"] {
  display: none;
}

ul {
  margin: 0;
}
